Hi {{ person.firstName }},

<br /><br />To verify your account, please goto this link:

Verify your account:
<br /><br /><a href="{{ account_verification_url }}">{{ account_verification_url }}</a>

<br /><br />Please also set your password. If you ever forget your password, you can use the 'Forgot my password' page to reset it.