Hi {{ person.firstName }},

<br /><br />Thanks for registering :-)

<br /><br />To verify your account, please goto this link:

<br /><br /><b>Verify your account:</b>
<br /><a href="{{ account_verification_url }}">{{ account_verification_url }}</a>

<br /><br />Please also set your password once your account is verified.

<br /><br />If you ever forget your password, use the 'Forgot my password' page to reset it.